#-e ../gpd-ai-companion-utility-framework
#git+https://github.com/uhc-tech-medicare-retiree-common/gpd-ai-companion-utility-framework@develop#egg=util_repo
aiohttp
azure-core
azure-identity
azure-search-documents
httpx
nest_asyncio
numpy
openai
openpyxl
pandas
python-dotenv
rapidfuzz
requests
tqdm
